.comment {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    background: #f7f7f7;
    padding: 5px;
    position: relative;
    margin-bottom: 12px
}

.comment-text {
    overflow-wrap: break-word;
}

.who {
    font-size: 15px;
    color: #5600ff;
    margin-bottom: 8px
}



.like {
    background: url(https://i.ibb.co/2chkxxV/Like.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 10px
}

    .like:hover {
        filter: brightness(0.85);
    }



.dislike {
    background: url(https://i.ibb.co/s164xTJ/dislike.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 10px
}

    .dislike:hover {
        filter: brightness(0.75);
    }
