.comment {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    background: #f7f7f7;
    padding: 5px;
    position: relative;
    margin-bottom: 12px
}

.who {
    font-size: 16px;
    color: #5600ff;
}

.like {
    background: url(https://i.ibb.co/2chkxxV/Like.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    width: 25px;
    height: 25px;
}

    .like:hover {
        width: 30px;
        height: 30px;
    }



.dislike {
    background: url(https://i.ibb.co/s164xTJ/dislike.png) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    width: 25px;
    height: 25px;
}

    .dislike:hover {
        width: 30px;
        height: 30px;
    }