@page
@model MathSite.Areas.Identity.Pages.Account.Manage.Admin

<form method="get">
    <label class="control-label">Пользователь:</label>  <select name="User" asp-items="Model.UsersList"></select><button type="submit" class="btn btn-primary btn-filter">Показать</button>
</form>