@page
@model MathSite.Areas.Identity.Pages.Account.Manage.ChangeThemeModel
@{
}
<link rel="stylesheet" type="text/css" href="/css/SwitchButtons.css">

<b>Ночной режим</b>
<br>
<br>
<div id="button" class="switch-btn"></div>

<script>
    window.onload = function () {
        if (localStorage.getItem("NightMode") == "on") {
            document.getElementById("button").classList.add("switch-on");
        }
        else if (localStorage.getItem("NightMode") == "off") {
            document.getElementById("button").classList.remove("switch-on");
        }
    }


    document.getElementById("button").addEventListener("click", function (e) {
        if (document.getElementById("button").classList.contains('switch-on') == false) {
            localStorage.setItem('NightMode', 'on');
            document.getElementById("button").classList.add("switch-on");
            location.reload();
        }
        else if (document.getElementById("button").classList.contains('switch-on') == true) {
            document.getElementById("button").classList.remove("switch-on");
            localStorage.setItem('NightMode', 'off');
            location.reload();
        }
    });
</script>

