@page
@model MathSite.Areas.Identity.Pages.Account.Manage.YouTasksModel
@{
}
<button id="create-task" type="submit" class="btn btn-primary">Create new task</button>
<table class="table">
    <tr>
        <th><a asp-action="TablePage">Task Name</a></th>
        <th><a asp-action="TablePage">Name</a></th>
        <th><a asp-action="TablePage">Raiting</a></th>
    </tr>
</table>
