@page
@model MathSite.Areas.Identity.Pages.Account.Manage.YouTasksModel
@{
}

<form id="Create" method="post">
    <button id="create-task" asp-route-act="create" type="submit" class="btn btn-primary">Create new task</button>

    <table class="table">
        <tr>
            <th><a>Task Name</a></th>
            <th><a>Condition</a></th>
            <th><a>Raiting</a></th>
        </tr>
        @foreach (var item in Model.Tasks)
        {
    <tr>
        <td>@item.TaskName</td>
        <td>@item.Condition</td>
        <td>@item.Rating</td>
        <td><Button type="submit" asp-route-act="ShowTask" asp-route-ChoiseId=@item.Id class="game-button">Просмотреть</Button></td>
        <td><Button type="submit" asp-route-act="EditTask" asp-route-ChoiseId=@item.Id class="game-button">Редактировать</Button></td>
        <td><Button type="submit" asp-route-act="DeleteTask" asp-route-ChoiseId=@item.Id class="game-button">Удалить</Button></td>
    </tr>
        }
    </table>
</form>


